.myModal {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;

	background-color: rgba(0, 0, 0, 0.8);
}

.myModalContent {
	padding: 25px;
	background-color: #fff;
	border-radius: 16px;
	min-width: 250px;
}


.myModal.active {

	display: flex;
	justify-content: center;
	align-items: center;
}